
  <div class="row" >
    <div class="col-sm-offset-2 col-sm-8 text-center">
      <h1>please edit the field as needed:</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-5">
      <%= cl_image_tag @toy.photo, class: "image-size" %>
    </div>
    <div class="col-sm-offset-1 col-sm-5 text-center">
      <p>
        <%= link_to "update booking", toy_booking_path, class: "btn btn-success" %>
        <%= link_to "Back to Bookings", bookings_path, class: "btn btn-primary" %>
      </p>
    </div>

