
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <h1>All the bookings:</h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <ol>
        <% @bookings.each do |b| %>
          <li>
            <%= link_to b.toy.name, toy_booking_path(b.toy, b) %>
          </li>
        <% end %>
      </ol>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <p>
        <%= link_to "Book another toy", toys_path, class: "btn btn-success" %>
        <%= link_to "All bookings", bookings_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>

