
  <div class="row" >
    <div class="col-sm-offset-2 col-sm-8 text-center">
      <h1>All the bookings:</h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <ol>
        <% @bookings.each do |b| %>
          <li>
            <%= link_to b.toy.name, booking_path(b) %>
          </li>
        <% end %>
      </ol>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 text-center">
      <p>
        <%= link_to "Add new booking", new_booking_path, class: "btn btn-success" %>
        <%= link_to "All bookings", bookings_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>

