.buttonMedium {
  color: rgba(100, 100, 100, 0.3);
  background-color: white;
  border-radius: 50px;
  margin: 10px;
  text-decoration: none;
  font-weight: lighter;
  border: 1px solid rgb(100,100,100);
  opacity: 0,6;
  font-size: 20px;
  text-align: center;
}

.buttonMedium hover {
  opacity: 1;
}
