
// Variables
$regal-blue: #F9F9F9;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
  }
  &::after {
    clear: both;
  }
}

body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: $open-sans;
}

a {
  text-decoration: none;
}

h1 {
  font-family: $open-sans;
  font-weight: 300;
}

.card {
  height: 175px;
  margin: 20px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 50%;
}
.a-primary {
  color: white;
}
.b-primary {
  color: white;
  font-size: 5px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;

}

.flex-content-all-toys {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.children-flex {

}


// Base styles
.cardindex {
  margin: 30px;
  margin-top: 20px;
  background-size: cover;
  float: left;
  padding: 0 ;
  // width: 50%;
  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
    span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }
  }
  .wrapper {
    background-color: $white;
    background-size: cover !important;
    background-position: center;
    min-height: 340px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 20px;
    font-weight: bold;
  }
  .title {
    margin-top: 10px;
  }
  .text {
    height: 40px;
    margin: 0;
  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
  }
}

.example-2 {

  width: 80%;

  .wrapper {
    filter: grayscale(10%);
    &:hover {
      opacity: 0.8;
      .menu-content {
        span {
          transform: translate(-50%, -10px);
          opacity: 1;
        }
      }
    }
  }
  .header {
    @include cf;
    color: #f76c6C;
    padding: 1em;
    .date {
      float: left;
      font-size: 12px;
    }
  }
  .menu-content {
    float: right;
    li {
      margin: 0 5px;
      position: relative;
    }
    span {
      transition: all 0.3s;
      opacity: 0;
    }
  }
  .data {
    color: green;
    transform: translateY(calc(70px + 4em));
  }
  .title {
    a {
      font-size: 20px;
      color: black;
      font-weight: bold;
    }
  }
  .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: #f76c6C;
    line-height: 1;
    position: relative;
    font-weight: 700;
    &::after {
      content: '\2192';
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s;
    }
    &:hover {
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }
}
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

<<<<<<< HEAD
=======

>>>>>>> master
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
<<<<<<< HEAD

=======
>>>>>>> master
